@import 'night/codeblock.dark.css';
@import 'night/mermaid.dark.css';
@import 'night/sourcemode.dark.css';
@import 'lostkeys.css';
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,700');
:root {
--accent-color: #5661B3;
--accented-background-color: #303b41;
--background-color: #131224;
--font-color: #7289da;
--header-color: #ecedef;
--border-color: #4A5459;
--link-color: #4240d4;
--bg-color: #263238;
--side-bar-bg-color: #0d0c19;
--text-color: crimson;
--window-border: 1px solid rgba(0, 0, 0, .07);
--active-file-bg-color: black;
}
#write {
font-family: "Josefin Sans",  sans-serif;
  -webkit-font-smoothing: antialiased;
font-size: 0.8em;
line-height: 1.1rem;
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
cursor: -webkit-image-set(url("night/cursor.png") 1x, url("night/cursor@2x.png") 2x) 8 8, auto;
background: url("data:image/svg+xml;charset=UTF-8, %3csvg xmlns='http://www.w3.org/2000/svg' width='250' height='250' fill = '#0d0c19' viewBox='0 0 16 16'%3e%3cpath d='M14.7 5.34c.13-.32.55-1.59-.13-3.31 0 0-1.05-.33-3.44 1.3-1-.28-2.07-.32-3.13-.32s-2.13.04-3.13.32c-2.39-1.64-3.44-1.3-3.44-1.3-.68 1.72-.26 2.99-.13 3.31C.49 6.21 0 7.33 0 8.69 0 13.84 3.33 15 7.98 15S16 13.84 16 8.69c0-1.36-.49-2.48-1.3-3.35zM8 14.02c-3.3 0-5.98-.15-5.98-3.35 0-.76.38-1.48 1.02-2.07 1.07-.98 2.9-.46 4.96-.46 2.07 0 3.88-.52 4.96.46.65.59 1.02 1.3 1.02 2.07 0 3.19-2.68 3.35-5.98 3.35zM5.49 9.01c-.66 0-1.2.8-1.2 1.78s.54 1.79 1.2 1.79c.66 0 1.2-.8 1.2-1.79s-.54-1.78-1.2-1.78zm5.02 0c-.66 0-1.2.79-1.2 1.78s.54 1.79 1.2 1.79c.66 0 1.2-.8 1.2-1.79s-.53-1.78-1.2-1.78z'/%3e%3c/svg%3e") no-repeat center center fixed
}
a,
.md-def-url {
color: #63e4d8;
text-decoration: none;
}
a:hover {
text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
color: #4d4a82!important
}
pre,
code,
kbd,
tt,
var {
background: rgba(0, 0, 0, 0.05);
font-size: 0.875rem;
font-family:  Inconsolata, Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
pre.md-fences {
padding: 10px 30px;
margin-bottom: 20px;
border: 1px solid;
}
.md-fences .code-tooltip {
bottom: -3.2em;
}
code,
kbd,
tt,
var {
padding: 2px 5px;
}
::-moz-selection {
background: #2b2951;
}
::selection {
background: #2b2951;
}